<li class="project-card add-project-card is-editing Project--card-display">
    <button class="add-btn">
        <span class="plus-icon">+</span>
        <h3>Project toevoegen</h3>
    </button>
</li>