<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<footer class="footer__main">
  <div  class="footer__logo"> <a href="/">FilmCrew</a></div>
  
  <nav class="footer__container">
    <ul class="footer__list">
      <li class="footer__link dark"><a href="#">Find Projects</a></li>
      <li class="footer__link light"><a href="#">Find Talents</a></li>
      <li class="footer__link dark"><a href="/current-matches">Matches</a></li>
    </ul>
  </nav>
  
  <div class="footer__end-cap"></div>
</footer>