<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<footer class="footer__main">
  <div  class="footer__logo"> <a href="/">FilmCrew</a></div>
  
  <nav class="footer__container">
    <ul class="footer__list">
      <li class="footer__link dark">
      <a href="https://www.themoviedb.org/">
        API credits
      </a>
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"> 
    </li>
      <li class="footer__link light">
        <a href="#">Find Projects</a>
        <a href="#">Find Talents</a>
        <a href="/current-matches">Matches</a>
      </li>
      <li class="footer__link dark">
        <a href="/profielPaginaIndividueel">Profiel</a>
      </li>
    </ul>
  </nav>
  
  <div class="footer__end-cap"></div>
</footer>