<head>
  <link rel="stylesheet" href="/static/style.css">
</head>

<header>
  <nav class="hoofd-nav">
      <!-- <strong class="nav-brand">Matching App</strong> -->
       <a href="/" class="logo"> FilmCrew </a>
      <a href="/" class="nav-brand">Matching App</a>
      <a href="/profile" class="nav-link">profile</a>
      <a href="/login" class="nav-link">login</a>
  </nav>
</header>