<head>
  <link rel="stylesheet" href="header.css">
</head>

<header>
  <nav class="hoofd-nav">
    <a href="/" class="nav-logo">FilmCrew</a>
      <a href="/" class="nav-link">Find Projects</a>
      <a href="/profile" class="nav-link">Find Talents</a>
      <a href="/profile" class="nav-link">Matches</a>
      <a href="/login" class="nav-link">login</a>
  </nav>
</header>