<!--Matching-cards-->

<article class="matching__card">
    <header>
        <img src="/images/cameraman.png" width="335" alt="">
        <h3>David de Boer - Acteur</h3>
    </header>
    <p>5 jaar ervaring als lead actor, speelde in meerdere shortfilms en commercials.</p>
    <div class="matching__card-link">
        <a href="#">Bekijk details</a>
    </div>
</article>