<ul class="matching-slider carousel__list">
    <% profiles.forEach(profile => { %>
        <li class="matching-slider__item carousel__list-Item">
            <%- include('matching', { profile }) %>
        </li>
    <% }) %>
</ul>