<ul class="matching-slider carousel__list">
    <% for (let i = 0; i < 5; i++) { %>
        <li class="matching-slider__item carousel__list-Item">
            <%- include('matching') %>
        </li>
    <% } %>
</ul>