<!-- wietse -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Matches</title>
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <%- include('partials/header') %>
    <main>
        <h2 class="current__h2">Nieuwe Matches</h2>
        <ul class="carousel__list">
            <% for (let i = 0; i < 5; i++) { %>
                <li class="carousel__list-Item">
                    <%- include('partials/matching') %>
                </li>
                <% } %>
    </ul> 
    </main>

</body>
</html>