<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test page</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1> static map index
  </h1>
  <p>
    Om de partial te testen.
  </p>
</body>
</html>