<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>FilmCrew-Matching</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
    <header>
        <nav>

        </nav>

        <section>
            <img src="" alt="">
            <h1></h1>
            <p></p>
            <button></button>
            <button></button>
        </section>
    </header>

    <main>
        <section class="matching__containter">
            <h2></h2>
            <button></button>
            <button></button>
            <button></button>
            <button></button>

            <article class="match__card">
                <h3></h3>
                <p></p>
                <button></button>
            </article>
        </section>

        <section class="reviews__container">
            <h2></h2>
            <article class="review__card">
                <h3></h3>
                <p></p>
            </article>
        </section>

        <section class="movie-article__container">
            <h2></h2>
            <article class="movie-article__card">
                <h3></h3>
                <p></p>
            </article>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>