<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmCrew-Matching</title>
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <%- include('partials/header') %>
    <main>
        <header class="hero">
            <div class="hero__container">
                <hgroup>
                    <h1 class="hero__heading">Zoek talent. Of wordt <br>gevonden.</h1>
                    <p>Start een project. Sluit je aan.</p>
                </hgroup>

                <button>Ontdek projecten & talenten</button>
            </div>

            <img
                class="hero__image"
                src="/images/home-page-image.png"
                alt="Filmset met camera’s, verlichting en crewleden tijdens een productie – banner voor platform om filmprojecten en talent te vinden."
            >
        </header>

        <section>
            <h2>Populaire projecten</h2>
            <%- include('partials/matching-slider', { profiles }) %>
        </section>

        <section class="reviews">
            <h2>Succesvolle matching verhalen</h2>
            <article class="review__card">
                <h3>Naam</h3>
                <p>Beschrijving</p>
            </article>
        </section>

        <section class="movie-article">
            <h2>Film artikelen</h2>
            <article class="movie-article__card">
                <h3>Naam</h3>
                <p>Beschrijving</p>
            </article>
        </section>
    </main>

</body>
</html>