<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndividueelProfielPagina</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/header') %>
    <section class="profile-header">
    <img src="/images/producer.jpg" alt="producer">
    
    <div class="profile-content">
        <h2>Naam</h2>
        <h3>Functie</h3>
        <h4>4 jaar werkervaring</h4>
        <h4>Amsterdam</h4>
        <p>Mijn naam is Mooie naam, ik werk al vier jaar als regisseur/ producer. Ik ben bekend met verschillende genres waaronder: 
        Thriller, drama & indie. Het liefste werk ik aan comedies en romantische films. Ik heb gestudeerd aan de filmacedemie in Utrecht. In mijn vrije tijd doe ik schaatsen en koken. Ik zou mijzelf omschrijven als een sociaal persoon. Ik hou van samenwerken, of dat nou met de acteurs, schrijvers of kostuum ontwerpers is. Denk je dat wij een echte match zijn? Stuur mij gerust een bericht.</p>
        <ul class="qualities">
            <li>Color grading</li>
            <li>Producen</li>
            <li>Samenwerken</li>
            <li>Schrijven</li>
            <li>Engelse taal</li>
        </ul>
    </div>
</section>

    <section>
    <h2>Mijn projecten</h2>
    <ul>
        <li><a href="">
                <img src="" alt="">
                <h3>Titel korte film</h3>
                <h4>Korte film</h4>
            </a>
        </li>
        <li><a href="">
                <img src="" alt="">
                <h3>Titel serie</h3>
                <h4>Pilot aflevering</h4>
            </a>
        </li>
                <li><a href="">
                <img src="" alt="">
                <h3>Titel reclame</h3>
                <h4>Relclame spotje</h4>
            </a>
        </li>
    </ul>
    </section>

</body>
</html>