<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndividueelProfielPagina</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <%- include('partials/header') %>
    <h1>Naam</h1>
    <h2>Functie</h2>
    <p>Mijn naam is Mooie naam, ik werk al drie jaar als regisseur/ producer. Ik ben bekend met verschillende genres waaronder: 
        Thriller, drama & indie. Het liefste werk ik aan comedies en romantische films. Ik heb gestudeerd aan de filmacedemie in Utrecht. In mijn vrije tijd doe ik schaatsen en koken. Ik zou mijzelf omschrijven als een sociaal persoon. Ik hou van samenwerken, of dat nou met de acteurs, schrijvers of kostuum ontwerpers is. Denk je dat wij een echte match zijn? Stuur mij gerust een bericht.</p>
    <section>
    <h2>Mijn projecten</h2>
    <ul>
        <li><a href="">
                <img src="" alt="">
                <h3>Titel film</h3>
            </a>
        </li>
        <li><a href="">
                <img src="" alt="">
                <h3>Titel shortfilm</h3>
            </a>
        </li>
    </ul>
    </section>

</body>
</html>