<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndividueelProfielPagina</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <%- include('partials/header') %>
    <h1>Naam</h1>
    <h2>Functie</h2>
    
</body>
</html>