/* matching component */
.matching__title {
    font-size: var(--h2Size);
}

/* Filter bar */
.matching__filter-bar,
.matching__filters {
    display: flex;
    gap: var(--gapMedium);
    flex-wrap: wrap;
}

.matching__filter-bar {
    justify-content: space-between;
}

.filter {
    position: relative;

    display: flex;
    align-items: center;
    gap: var(--gapExtraSmall);

    border-radius: var(--buttonCornerRadius);
    background-color: var(--accentColorGold);

    @media screen and (max-width: 640px) {
        flex-grow: 1;
    }
}

.filter label:before {
    content: '';
    inset: 0;
    position: absolute;
}

.filter select {
    background-color: unset;
    border: none;
    flex-grow: 1;
}

.filter--outline {
    background-color: var(--accentColorWhite);
    border: .1rem solid var(--accentColorGold);
}

.filter:has(select),
.filter:has(select) * {
    cursor: pointer;
}

.filter, .matching__refresh-btn {
    padding: var(--buttonPadding);
}

.matching__refresh-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gapExtraSmall);

    border-radius: var(--buttonCornerRadius);
    border: none;
    background: var(--accentColorGold);

    @media screen and (max-width: 640px) {
        flex-grow: 1;
    }
}

/* Matching cards */
.matching__cards {
    display: flex;
    gap: var(--gapMedium);
}

.matching__card, .matching__card img {
    border-radius: var(--buttonCornerRadius);
}

.matching__card-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--buttonCornerRadius);
    padding: var(--buttonPadding);
    background-color: var(--accentColorRed);
}

.matching__card-link a {
    text-decoration: none;
    color: var(--textColorWhite);
}

.matching__card :where(h3, p) {
    padding: 0 1rem;
}