/* Background color wrapper */
.background-wrapper {
    background-color: var(--accentColorLightGrey);
    width: 100%;
    padding: 1rem 0;
}

/* --- Container --- */
.project-container {
    max-width: 75%; 
    margin: 0 auto;    
}

/* --- Header (Lord of Balls + Director) --- */
.project-header {
    display: flex;
    justify-content: space-between; /* Pushes Dir link to the right */
    align-items: flex-end;         /* Starring and Dir on same height */
}

.project_Title {
    font-size: 4rem;
}

.slideshow {
    position: relative;
    background-color: var(--accentColorGrey); 
    width: 100%;
    height: 55vh;
    border-radius: 10px;
    margin: 2rem 0;
    overflow: hidden;
}

.slideshow__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slideshow__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

/* Modifier voor de zichtbare slide */
.slideshow__item--active {
    opacity: 1;
    z-index: 1;
}

.slideshow__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.slideshow__nav:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Specifieke modifiers voor de knoppen */
.slideshow__nav--prev { left: 20px; }
.slideshow__nav--next { right: 20px; }

/* --- Tags --- */
.tag-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.tag {
    background-color: var(--accentColorRed);
    color: var(--accentColorWhite);
    padding: 8px 20px;
    border-radius: var(--buttonCornerRadius);

    font-family: var(--montserratFont);
    font-size: var(--bodyTextSize);
    font-weight: var(--fontWeightRegular);
}

.project-text {
    margin: 2rem 0;
}

.production {
    max-width: 75%; 
    margin: 0 auto;  
}

.production_Title {
    margin-top: 2rem;
}

.production_Summary {
    margin-top: 1rem;
}




