/* Matching cards + slider */
.matching__card {
    display: flex;
    flex-direction: column;
    gap: var(--gapExtraSmall);

    background-color: var(--accentColorLightGrey);
    border-radius: var(--buttonCornerRadius);
    width: 100%;
}

.matching__card img {
    border-radius: var(--buttonCornerRadius);
    object-fit: cover;
    width: 100%;
}

.matching__card-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--buttonCornerRadius);
    padding: var(--buttonPadding);

    background-color: var(--accentColorRed);
}

.matching__card-link:hover {
    background-color: var(--hoverColorRed);
}

.matching__card-link a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--textColorWhite);
}

.matching__card :where(h3, p) {
    padding: 0 1rem;
}

.matching-slider .matching__card {
    width: 335px;
}

.matching-slider__item {
    flex: none !important;
}





/* Matching-page */
.matching {
    display: flex;
    gap: var(--gapMedium);
    margin: var(--sectionPadding);
    width: 100%;
}

.matching__results-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gapSmall);
}

.matching__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    margin: var(--sectionPadding);
}

.matching__header a {
    display: flex;
    align-items: center;
    gap: var(--gapExtraSmall);

    border: 3px solid var(--accentColorGold);
    border-radius: var(--buttonCornerRadius);
    padding: var(--buttonPadding);
    text-decoration: none;
}

.matching__header a:hover {
    border: 3px solid var(--hoverColorGold);
}

.matching__grid {
    display: grid;
    /* Grid responsiveness https://www.youtube.com/watch?v=bj0Z_GncIwY */
    grid-template-columns: repeat(auto-fill, minmax(min(325px, 100%), 1fr));
    gap: var(--gapMedium);
}

.matching__aside {
    display: flex;
    flex-direction: column;
    gap: var(--gapMedium);

    padding: 2rem 3rem;
    height: fit-content;

    border-radius: var(--buttonCornerRadius);
    background-color: var(--accentColorGrey);

    @media (width <= 1024px) {
        display: none;
    }
}

.matching__aside * {
    color: var(--textColorWhite);
}

.matching__aside button {
    padding: var(--buttonPadding);
    background-color: var(--accentColorRed);
    border-radius: var(--buttonCornerRadius);
    border: none;
}

.matching__aside button:hover {
    background-color: var(--hoverColorRed);
}

.matching__aside form {
    display: flex;
    flex-direction: column;
    gap: var(--gapLarge);
}

.matching__aside fieldset {
    border: none;

    display: flex;
    flex-direction: column;
    gap: var(--gapExtraSmall);
}

.matching__aside legend {
    font-size: var(--h3Size);
    margin-bottom: var(--gapSmall);
}

.matching__aside [type="search"] {
    padding: var(--buttonPadding);
    border-radius: var(--buttonCornerRadius);
    color: var(--textColor);
}

.filter-option {
    display: flex;
    align-items: center;
    gap: var(--gapSmall);
}

.filter-option--last {
    display: flex;
    align-items: center;
    gap: var(--gapExtraSmall);
}

.matching__aside [type="radio"],
.matching__aside [type="checkbox"] {
    accent-color: var(--accentColorGold);

    width: 1.2rem;
    height: 1.2rem;
}

.matching__layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gapMedium);
}

.matching__results-btns {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapSmall);
}

.matching__filter-btn {
    background-color: var(--accentColorWhite);
    padding: var(--buttonPadding);
    border: 3px solid var(--accentColorRed);
    border-radius: var(--buttonCornerRadius);
    cursor: pointer;

    display: none;

    @media (width <= 1024px) {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        gap: var(--gapExtraSmall);
    }
}

.filter-dialog {
    border: none;
    max-width: unset;
    max-height: unset;
    height: 100%;
    width: 100%;
    background-color: var(--accentColorGrey);
}

body:has(.filter-dialog[open]) {
    overflow: hidden;
}

.filter-dialog .matching__aside {
    display: flex;
    box-sizing: border-box;
    border: none;
    border-radius: unset;
}
.filter-dialog__close-btn {
    background-color: unset !important;
    padding: unset !important;
    border: none;
    cursor: pointer;
}

.filter-dialog__header {
    display: flex;
    justify-content: space-between;
}

