/* Hero */
.hero {
    position: relative;
    margin: 0 -5rem;
}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: var(--gapMedium);

    padding: 7rem 5rem 5rem;
}

.hero__container p {
    color: var(--textColorWhite);
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: var(--montserratFont);
    font-weight: var(--fontWeightBold);
}

.hero__container button {
    width: fit-content;
    padding: var(--buttonPadding);
    background-color: var(--accentColorRed);
    border-radius: var(--buttonCornerRadius);
}

.hero__heading {
    font-size: clamp(3rem, 5vw, 6rem);
    text-shadow: var(--textShadow);
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    filter: blur(4px);
    object-fit: cover;
}

