body{
    padding: var(--padding);
}

section{
    padding-bottom: 1em;
    padding-top: 1em;
}

section:first-of-type{
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

img{
    width: 18em;
}

p{
    font-family: var(--regularFont);
}

header > ul{
    display: flex;
    align-items: flex-start;
}

header > ul > li{
    margin: var(--margin);
}