/* font ophalen */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "variables.css";
@import "partials";

@import "login-register.css";
@import "crew-profile.css";
@import "profielPaginaIndividueel.css";
@import "mathing-page.css";

* {
    margin: 0;
    padding: 0;
}

/* :where niet specifiek, oftewel makkelijk te overschrijven wanneer nodig -> https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:where */
body {
    color: var(--textColor);
    font-family: var(--montserratFont);
    font-size: var(--bodyTextSize);
    font-weight: var(--fontWeightRegular);
}

a, p, label, input, button {
    font: inherit;
}

:where(h1, h2, h3) {
    color: var(--textColor);
    font-weight: var(--fontWeightRegular);
    font-family: var(--montserratFont);
}

:where(h1) {
    color: var(--accentColorGold);
    font-family: var(--abrilFont);
    font-size: var(--h1Size);
    font-weight: var(--fontWeightRegular);
}

:where(h2) {
    color: var(--textColor);
    font-family: var(--instrumentFont);
    font-size: var(--h2Size);
    font-weight: var(--fontWeightBold);
}

:where(h3) {
    color: var(--textColor);
    font-family: var(--montserratFont);
    font-size: var(--h3Size);
    font-weight: var(--fontWeightBold);
}

:where(main) {
    padding: var(--mainPadding);
}

@media (max-width: 640px) {
    main {
        padding: var(--mainPaddingSmall);
    }
}